@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


body {
    font-family: 'orbitron', sans-serif;
    background: linear-gradient(to right, #6A85B6, #BAC8E0);
    text-align: center;
    color: #0A1F44;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 35vh;
}

.title {
    font-size: 96px;
    font-weight: bold;
}

.subtitle {
    font-size: 40px;
    color: #4A6076;
}

.video-section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15vh;
    padding-left: 20px;
    gap: 10vh;
}

.video-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #0A1F44;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.video-button:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.credits {
    font-size: 16px;
    color: #4A6076;
    cursor: pointer;
}

.left-background {
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('../.image/menu.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video-preview {
    width: 100px;
    height: 100px;
    background-image: url('../.image/bubble.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 50px;
}

#video1 {
    margin-left: 2.5vw;
}

#video2 {
    margin-left: 5vw;
}

#video3 {
    margin-left: 2.5vw;
}

.credits-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    bottom: 20px;
    right: 30px;
}

.credits-button{
    display: flex;
    flex-direction: column;
}
