@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.40) 100%), linear-gradient(180deg, #7C9FC9 0%, #C1E8FF 75%, #5D90FF 100%);
}

.loading {
    position: absolute;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #0A1F44;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.loading.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
    pointer-events: none;
}

body {
    font-family: 'orbitron', sans-serif;
    text-align: center;
    color: #0A1F44;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./.image/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.window-element {
    display: none;
    all: unset;
    top: 0;
    left: 0;
    width: 80vw;
    height: 80vh;
    padding-left: 15vw;
}

.window-element.active {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70vw;
    height: 70vh;
}


.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.title {
    font-size: 96px;
    font-weight: bold;
}

.subtitle {
    font-size: 40px;
    color: #4A6076;
}

.video-section {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10vh;
    transform: translateY(-50%);
}

.video-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #0A1F44;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.video-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.credits {
    font-size: 16px;
    color: #4A6076;
    cursor: pointer;
}

.left-background {
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-image: url('./.image/menu.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video-button img {
    width: 125px;
    height: 125px;
    cursor: pointer;
}

.video-preview {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50px;
}

#video1 {
    margin-left: 2.5vw;
}

#video2 {
    margin-left: 7.5vw;
}

#video3 {
    margin-left: 2.5vw;
}

.credits-area {
    display: block;
    position: fixed;

    bottom: 20px;
    right: 30px;
}

.credits-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.credits-button img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
